body {
	background-color: #E8E8E8;
	text-align: center;
	font-family: Helvetica
}

.yell {
	font-weight: bold;
	text-align: center;
	color: #FFBE73;
	font-size: 60px;
}

.sub-yell {
	margin-bottom: 20px;
	color: #666;
}



.biginput {
	border: 1px solid #999;
	font-size: 30px;
	width: 300px;
	padding: 4px 10px;
	color: #999;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5) inset;
}

.biginput.on {
	color: #000;
}

.button {
	padding: 6px 10px;
	border: 1px solid #666;
	border-color: #999 #666 #666 #999;
	background: #ddd;
	/* background: -webkit-gradient(linear, 0 50%, 0 100%, from(#fff), to(#ccc)); */
	background: -webkit-gradient(linear, 0 50%, 0 100%, from(#FFBE73), to(#FF9E53));
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}
.button:hover {
	border: 1px solid #fff;
	-webkit-box-shadow: 0 0 8px #fff;
}
.button:active {
	background: #FFBE73;
}

#blog {
	text-align: justify;
	width: 100%;
	margin-left: auto ;
  	margin-right: auto ;
	display:none;
}

.userData {
;
}

#wcdiv {
	position: relative;
	text-align: justify;
	width: 50%;
	margin:auto;
	margin-left:25%;
	float:left;
	margin-bottom:15px;
}


#twable {
    position: relative;
	position: absolute;
	float:right;
	text-align: center;
	width: 25%;
	right: 0px;
	color: #264ca2;
	font-size: 14px;
	display: none;
	margin-top:40px;
}

.footer {
	position: relative;
	color:gray;
	font: normal small-caption;
	text-align: center;
	margin:auto;
	padding-left:25%;
	padding-right:25%;
}


#footersplitleft{
	float:left;
	font-size:20px;
	margin-left:15%;
	}

	
#footersplitright{
	float:right;
	font-size:20px;
	margin-right:15%;

}


/* word-cloud styles */
.word-cloud {font-family: arial; font-size: 10px; }
.word-cloud-1 {font-size: 10px; color: #acc1f3; }
.word-cloud-2 {font-size: 14px; color: #86a0dc; }
.word-cloud-3 {font-size: 18px; color: #607ec5; }
.word-cloud-4 {font-size: 22px; color: #264ca2; }
.word-cloud-5 {font-size: 26px; color: #133b97; }
.word-cloud-6 {font-size: 32px; color: #002a8b; }
.word-cloud-7 {font-size: 36px; color: #071a41; }
.word-cloud-8 {font-size: 40px; color: #081122; }
.word-cloud-9 {font-size: 44px; color: #000000; }
.word-cloud-9 {font-size: 44px; color: #000000; }
