body {
	background-color: #E8E8E8;
	text-align: center;
	font-family: Helvetica
}

.yell {
	font-weight: bold;
	text-align: center;
	color: #FFBE73;
	font-size: 60px;
}

.sub-yell {
	margin-bottom: 20px;
	color: #666;
}



.biginput {
	border: 1px solid #999;
	font-size: 30px;
	width: 300px;
	padding: 4px 10px;
	color: #999;
	-webkit-box-shadow: 0 0 8px rgba(0,0,0,0.5) inset;
}

.biginput.on {
	color: #000;
}

.button {
	padding: 6px 10px;
	border: 1px solid #666;
	border-color: #999 #666 #666 #999;
	background: #ddd;
	/* background: -webkit-gradient(linear, 0 50%, 0 100%, from(#fff), to(#ccc)); */
	background: -webkit-gradient(linear, 0 50%, 0 100%, from(#FFBE73), to(#FF9E53));
	font-weight: bold;
	font-size: 20px;
	color: #fff;
	cursor: pointer;
}
.button:hover {
	border: 1px solid #fff;
	-webkit-box-shadow: 0 0 8px #fff;
}
.button:active {
	background: #FFBE73;
}

#blog {
	text-align: justify;
	width: 50%;
	margin-left: auto ;
  margin-right: auto ;
	display:none;
}

.userData {
	position: absolute;
	top: 160px;
}

#wcdiv {
	position: absolute;
	text-align: justify;
	width: 450px;
	left: 50%;
	margin-left: -225px;
	max-height: 315px;
	overflow: hidden;

}


#twable {
	position: absolute;
	text-align: center;
	width: 20%;
	right: 25px;
	color: #264ca2;
	font-size: 14px;
	display: none;
}

.footer {
	position: absolute;
	color:gray;
	font: normal small-caption;
	text-align: center;
	margin:auto;
	width:100%;
	top: 520px;
	}

.1stpagefooter {
	position:absolute;
	top: 300px;;
}

#footersplitleft{
	float:left;
	font-size:20px;
	margin-left:35%;

}
#footersplitright{
	float:right;
	font-size:20px;
	margin-right:35%;
}

/* word-cloud styles */
.word-cloud {font-family: arial; font-size: 10px; }
.word-cloud-1 {font-size: 10px; color: #acc1f3; }
.word-cloud-2 {font-size: 14px; color: #86a0dc; }
.word-cloud-3 {font-size: 18px; color: #607ec5; }
.word-cloud-4 {font-size: 22px; color: #264ca2; }
.word-cloud-5 {font-size: 26px; color: #133b97; }
.word-cloud-6 {font-size: 32px; color: #002a8b; }
.word-cloud-7 {font-size: 36px; color: #071a41; }
.word-cloud-8 {font-size: 40px; color: #081122; }
.word-cloud-9 {font-size: 44px; color: #000000; }
